.centerContainer{
    width: 100%;
    height: auto;
    background-color: rgb(250, 248, 248);
    margin-bottom: 15%;
    
    .banner{
        margin: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        
      
        background-color: #FFB246;
       
    
    }

    
}
.spinner{
width: 20%;
margin-left: auto;
margin-right: auto;
 
}

@media only screen and (max-width: 1662px) {
    
}
@media only screen and (max-width: 1248px) {
    .banner{
        width: 90% !important; 
     
    }
}
/*
@media only screen and (max-width: 1122px) {
    .banner{
        width: 75% !important; 
        .img{
            margin-right: auto;
            margin-left: auto;
            .bannerText{
            
            margin-right: auto;
            margin-left: auto;
    
            }
        }
     
    }
}
*/