.centerContainer{
    width: 100%;
    height: auto;

    background-color: rgb(250, 248, 248);
    .banner{
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        
      
        background-color: #FFB246;
        .img{
            height: 100%;
            
        }
        .bannerText{
            text-align: center;
            margin-right: auto; // this is new 
            margin-left: auto; 
            
            
            width: auto;

        }
 
    }

    
}

@media only screen and (max-width: 1662px) {
    .banner{
        width: 80% !important; 
     
    }
}
@media only screen and (max-width: 1248px) {
    .banner{
        width: 90% !important; 
     
    }
}
@media only screen and (max-width: 1122px) {
    .banner{
        width: 75% !important; 
        .img{
            margin-right: auto;
            margin-left: auto;
            .bannerText{
            
            margin-right: auto;
            margin-left: auto;
    
            }
        }
     
    }
}