.jobofthedayContainerM{
    margin: 4%;
    height: auto;
    background-color: #E5E5E5;
    border-radius: 2%;

}
@media only screen and (min-width: 400px) {
    .jobofthedayContainerM{
        display: none !important;
    }
  }
.centerContainer{
    width: 100%;
    height: auto;
    background-color: rgb(250, 248, 248);
    margin-bottom: 15%;
    
    .banner{
       
        margin-left: auto;
        margin-right: auto;
        background-color: #FFB246;
       
    
    }
}
.spinner{
width: 20%;
margin-left: auto;
margin-right: auto;
 
}

@media only screen and (max-width: 1662px) {
    
}
@media only screen and (max-width: 1248px) {
    .banner{
        width: 90% !important; 
     
    }
}
/*
@media only screen and (max-width: 1122px) {
    .banner{
        width: 75% !important; 
        .img{
            margin-right: auto;
            margin-left: auto;
            .bannerText{
            
            margin-right: auto;
            margin-left: auto;
    
            }
        }
     
    }
}
*/