

.buttonContainer{
    width: 100%;

    justify-content: space-evenly;

}

.loginButtons{

border: 1px solid red;
}
.Rightbarlogin{

    display: flex;
    width: 20%;
    border: 1px solid black;

}
@media only screen and (max-width: 768px) {
  .navContainer {
  display: none !important;
  }
}