

.buttonContainer{
    width: 100%;

    justify-content: space-evenly;

}

.loginButtons{


}
.Rightbarlogin{

    display: flex;
    width: 20%;


}
@media only screen and (max-width: 768px) {
  .navContainer {
  display: none !important;
  }
}