.centerContainer{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    background-color: rgb(250, 248, 248);
}

@media only screen and (max-width: 1122px) {
    .centerContainer{
   background-color: red !important;
    }
}
