.centerContainer{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    background-color: rgb(250, 248, 248);
}
.JobCentercontainer{
    margin-top: 50%;
    margin-right: auto;
    margin-left: auto;
 
    
 
    width: 95%; // 720p screens change this to 100%
    height: auto;
   
    .JobCentercontainer__header{
        margin-top: 50%;
        display: flex;
        justify-content: space-between;
    }    
 
}
.Tilt{
    width: 50%;
}
