.FormContainer{
    display: flex;
    width: 100%;
}
.PostCategory{
    width: 30%;
    border: 1px solid red;

}
.employers-name{
    margin-left: 4%;
    width: 100%;
    border: 1px solid red;
}
.EmployersContact{
   
    width: 47%;
    border: 1px solid red;
}
