.FormContainer{
    display: flex;
    width: 100%;
}
.centerContainer{
    padding-left: 10px;
    padding-right: 10px;
}

.PostCategory{
    width: 30%;
    margin-left: 4px;

}
.employers-name{
    margin-left: 4%;
    width: 100%;

}
.EmployersContact{
    margin-left: 1%;
   
    width: 100%;

}
.JobDescription{
    margin-left: 1%;
    
}
.Attributes{
    margin-bottom:1%;
    margin-left:1% ;
    text-transform: uppercase;

}
.scaling{
    display: flex;
    justify-content: space-evenly; ;
}

@media only screen and (min-width: 768px) {
    .PostCategory{
        margin-top: 5px;
    }
}

@media only screen and (max-width: 400px) {
    x{
        display: none !important; 
     
    }

    .PostCategory{
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px #111;
    }

}
