.Rightcontainer{
    width: 20%;
    height: autp;
    border: 1px solid black;
   
    

}
.Rightbar{
    display: flex;
}
.loginButtons{

    width: 50%;
    text-align: center;
    height: auto;
    border: 1px solid black;
    margin-top: 1%;
}